#map-canvas{
  width: 100%;
  height: 400px;
}
.table-canvas{
  width: 100%;
  height: 200px;
}

#ad_table_1 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_1 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#ad_table_2 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_2 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#ad_table_3 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_3 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_1 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_1 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_2 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_2 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_3 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_3 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

.add-link{
    
}

.add-link:link, .add-link:visited {
    background-color: #339440;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}


.add-link:hover, .add-link:active {
    background-color: #44C755;
    padding: 4px 15px;
}

.square-select {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
}

.modal {
  text-align: center;
}
@media screen and (min-device-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.btn-fix{
    margin-right: 10px;
}

.select2 {
    width: 100% !important;
}

.date-box{
    height: 226px;
    color: white;
    padding: 2px 13px 2px 13px;
    background-color: #339440;
    margin-bottom: 15px;
}

.quick-links{
    background-color: white;
    color: darkslategrey;

}

.quick-links:hover{
    background-color: white;
    color: dimgray;
}

.fullscreen-div{
    height: 300px;
    width: 100%;
    color:white;
    background-color: #3fb14e;
    padding-top: 20px;
}

.split-main-div{
    height: 300px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
}

.split-top-div{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
    margin-left: -18px;
    margin-bottom: 10px;
}

.split-bottom-div{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
    margin-left: -18px;
}

.fullscreen-div:hover{
    height: 300px;
    width: 100%;
    color:white;
    background-color: #339440;
    padding-top: 20px;
}

.split-main-div:hover{
    height: 300px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
}

.split-top-div:hover{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
    margin-left: -18px;
    margin-bottom: 10px;
}

.split-bottom-div:hover{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
    margin-left: -18px;
}
/* messages [tagging: Paul] */
.success-message{
    /*success message ( YUNG LUMALABAS SA MODAL PAGKASAVE )*/
}

.message-name{
    /*message name ( YUNG MISMONG PANGALAN NUNG NASAVE )*/
    font-weight: bold;
}

.select2-close-mask{
    z-index: 9999;
}
.select2-dropdown{
    z-index: 9999;
}

@supports (-webkit-appearance:none) {
    .browser-style {
        margin-top:-900px;
        width:94%;
        position:fixed;
    }
}       

_:-moz-tree-row(hover), .browser-style {
        margin-top:-900px;
        width:94%;
        position:fixed;
}       

#program-list-table >tbody > tr > td{
    cursor: grab;
}

#program-list-table >tbody > tr > td + td{
    cursor: default;
}

#program-list-table1 >tbody > tr > td{
    cursor: grab;
}

#program-list-table1 >tbody > tr > td + td{
    cursor: default;
}

#morning-table >tbody{
    cursor: pointer;
}

#evening-table >tbody{
    cursor: pointer;
}

#afternoon-table >tbody{
    cursor: pointer;
}

/*CROP*/
.cropit-preview {
    background-color: white;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
    margin: 7px 10px 5px 10px;
    width: 569px;
    height: 320px;
    z-index: 6;
    float: left;
}

#rotatebutton{
    background-color: transparent;
    border: none;
    margin-left: 67px;
    font-size: 40px;
    color: #555;
}

#browsebutton{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#upbutton{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.browselabel{
    cursor: pointer;
    font-size: 15px;
    margin-top: 76px;
    padding: 10px 50px 10px 50px;
    opacity: 1;
    transition:opacity linear 0.15s;
    color: white;
    background-color: #339440;
    display: inline-block;
}

.browselabel:hover{
    cursor: pointer;
    font-size: 15px;
    margin-top: 76px;
    padding: 10px 50px 10px 50px;
    opacity: 1;
    transition:opacity linear 0.15s;
    color: white;
    background-color: #3fb14e;
    display: inline-block;
}

#rotatebutton2{
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: #555;
}

#slider{
    width: 233px;
}

.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
    margin-top: 10px;
}


