#map-canvas{
  width: 100%;
  height: 400px;
}
.table-canvas{
  width: 100%;
  height: 200px;
}

#ad_table_1 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_1 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#ad_table_2 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_2 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#ad_table_3 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#ad_table_3 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_1 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_1 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_2 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_2 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#selected_table_3 > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

#selected_table_3 > thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

thead > tr > th{
    background-color: #339440;
    color: white;
    text-align: center;
    vertical-align: middle;
}

tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}

.add-link{
    
}

.add-link:link, .add-link:visited {
    background-color: #339440;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}


.add-link:hover, .add-link:active {
    background-color: #44C755;
    padding: 4px 15px;
}

.square-select {
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
}

.modal {
  text-align: center;
}
@media screen and (min-device-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.btn-fix{
    margin-right: 10px;
}

.select2 {
    width: 100% !important;
}

.date-box{
    height: 226px;
    color: white;
    padding: 2px 13px 2px 13px;
    background-color: #339440;
    margin-bottom: 15px;
}

.quick-links{
    background-color: white;
    color: darkslategrey;

}

.quick-links:hover{
    background-color: white;
    color: dimgray;
}

.fullscreen-div{
    height: 300px;
    width: 100%;
    color:white;
    background-color: #3fb14e;
    padding-top: 20px;
}

.split-main-div{
    height: 300px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
}

.split-top-div{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
    margin-left: -18px;
    margin-bottom: 10px;
}

.split-bottom-div{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #3fb14e;
    margin-left: -18px;
}

.fullscreen-div:hover{
    height: 300px;
    width: 100%;
    color:white;
    background-color: #339440;
    padding-top: 20px;
}

.split-main-div:hover{
    height: 300px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
}

.split-top-div:hover{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
    margin-left: -18px;
    margin-bottom: 10px;
}

.split-bottom-div:hover{
    height: 145px;
    width: 100%;
    color:white;
    padding-top: 20px;
    background-color: #339440;
    margin-left: -18px;
}